<main class="main">
  <p class="title mat-headline-2">Calculator</p>
  <mat-radio-group
    aria-label="Select input format"
    (change)="onFormatSelection($event)"
    [value]="selectedFormat"
  >
    <mat-radio-button value="number"
      >Numeric Format (e.g., 1000)</mat-radio-button
    >
    <mat-radio-button value="time"
      >Time Format (HH:mm, e.g., 01:30)</mat-radio-button
    >
  </mat-radio-group>
  <div class="results-delete-container">
    <div class="results-container">
      @if (lastEvaluated){
      <div class="last-operation">{{ lastEvaluated }}</div>
      }
      <span class="mat-h1">{{ currentInput }}</span>
    </div>
    <div class="actions-container">
      <button mat-mini-fab (click)="handleBackSpaceClick()" [color]="'accent'">
        <mat-icon>backspace</mat-icon>
      </button>
      <button mat-mini-fab (click)="handleDeleteClick()" [color]="'primary'">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>
    <div class="calculator-grid">
      @for (buttonValue of buttonValues; track buttonValues; let i = $index) {
      @if (buttonValue !== undefined) {
      <button
        (click)="handleButtonClick(buttonValue)"
        mat-fab
        class="mat-h2"
        [disabled]="isButtonDisabled(buttonValue)"
        [color]="isOperator(buttonValue) ? 'accent' : 'primary'"
      >
        {{ buttonValue }}</button
      >} @else {
      <div></div>
      }}
    </div>
  </mat-card-content>
</main>

<router-outlet />
